<h1>Task Manager</h1>
<app-welcome></app-welcome>
<hr>
<app-profile-card
  [userName]="name"
  [userRole]="role"
  [userBio]="bio"
  [profileImage]="image"
  (roleChanged)="updateRole($event)"
  (resetRequested)="resetToOriginalRole()">
</app-profile-card>

<!-- <h1>Reusable Card Demo</h1> -->

<app-card title="Welcome to My Page" footer="Last updated 1 min ago">
  <p>This is a reusable card component using <strong>&lt;ng-content&gt;</strong>!</p>
</app-card>

<app-card title="Skills">
  <ul>
    <li>Angular</li>
    <li>TypeScript</li>
    <li>HTML/CSS</li>
  </ul>
</app-card>
<hr>


<h1>Task Manager App</h1>

<app-toggle-info-card></app-toggle-info-card>
